.Dishes{
    border: 1px solid black;
    margin: 30px;
    padding: 10px;
}
img{
    width: 150px;
    height: 100px;
    margin-top: 20px;
}

.dishBtn{
    display: inline-block;
    float: right;
    margin-top: 100px;
}
.Price{
    margin-left: 30%;
    display: inline-block;
}
.Name{
    margin-left: 40px;
    display: inline-block;
}
button{
    margin: 3px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

button:hover {
    background-color: #555555;
    color: white;
}
.Dish h3{
    display: inline-block;
}
.DishBtn{
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
}

