.Toolbar {
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Toolbar .Logo {
    margin-left: 30px;
    font-size: 30px;
}
.Toolbar a{
    text-decoration: none;
    color: #959494;
}