.NavBar{
  background: goldenrod;
  color: aliceblue;
}
.Title{
  color: aliceblue;
  font-size: 30px;
}
.Title:hover{
  color: gold;
  border-bottom: 1px solid aliceblue;
  transition: 2s;
}
.Navigation{
  color: aliceblue;
  font-size: 20px;
  font-weight: 600;
}
.Navigation:hover{
  color: aliceblue;
}